body {
    background-color: #e9ecef;
    text-align: center;
}

h1 {
    font-size: 64px;
}

.quote {
    font-size: 18px;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 42px;
    }
}